<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SafenetSignDotnet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="SafenetSignDotnet.Service">
                <endpoint address="" binding="basicHttpBinding" contract="SafenetSignDotnet.IService" bindingConfiguration="BasicHttpBinding_IService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/SafenetSign/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <!-- basicHttpBinding using streaming -->
            <basicHttpBinding>
              <binding name="BasicHttpBinding_IService" sendTimeout="00:10:00" receiveTimeout="00:10:00" maxReceivedMessageSize="4294967296" transferMode="Streamed"/>
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>
    <applicationSettings>
        <SafenetSignDotnet.Properties.Settings>
            <setting name="Container" serializeAs="String">
                <value>\\.\AKS ifdh 0</value>
            </setting>
            <setting name="Store" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="TimestampUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>appx</value>
            </setting>
            <setting name="TimestampAlgorithm" serializeAs="String">
                <value />
            </setting>
        </SafenetSignDotnet.Properties.Settings>
    </applicationSettings>
</configuration>