<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" sendTimeout="00:10:00" receiveTimeout="00:10:00" maxReceivedMessageSize="4294967296" transferMode="Streamed" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/SafenetSign/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="IService"
                name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>